@{
    ViewData["Title"] = "Контакти";
}

<h1>Контакти</h1>
<hr/>

<h3>Разработчик</h3>
<p>
    Генко Карадимов: <a href="mailto:genko.karadimov@gmail.com">genko.karadimov@gmail.com</a><br />
    Свържете се с мен независимо от причината!
</p>
<hr />
