@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Правила и условия за използване на сайта:</p>
<ol type="1">
    <li>Не се претендира за академична точност на всички текстове в сайта. Използването им е на ваша отговорност!</li>
</ol> 