@model Bloggos.Web.Models.Blog.ArticleViewModel
@{
    ViewData["Title"] = "Създаване на Статия | Администрация";
}

<h2>Създаване на Статия</h2>
<hr />

<form method="post" asp-action="CreateArticle" asp-controller="Blog" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Title" class="form-label">Заглавие</label>
        <input type="text" class="form-control" id="Title" name="Title" required>
    </div>
    <div class="mb-3">
        <label for="HtmlContent" class="form-label">Съдържание (HtmlContent)</label>
        <textarea class="form-control" id="HtmlContent" name="HtmlContent" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Създаване</button>
</form>
