@model Bloggos.Web.Models.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "Смяна на парола";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Смяна на парола
            </div>
            <div class="card-body">
                <form method="post" asp-action="ChangePassword" asp-controller="User" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="OldPassword" class="form-label">Стара Парола</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="NewPassword" class="form-label">Нова Парола</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmNewPassword" class="form-label">Потвърди Нова Парола</label>
                        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Смяна на парола</button>
                </form>
            </div>
        </div>
     
        
    </div>
</div>