@model Bloggos.Web.Models.User.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Вход
            </div>
            <div class="card-body">
                <form method="post" asp-action="Login" asp-controller="User" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="username" class="form-label">Потребителско Име</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Парола</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Вход</button>
                </form>
                <a asp-controller="User" asp-action="Register" class="no-underline-link">Все още нямате акаунт, регистрирай се?</a>
            </div>
        </div>
     
        
    </div>
</div>